/* M */
tr.user-yellow td,
span.user-yellow,
a.user-yellow {
    color: #ffb600 !important;
}

/* IGM */
tr.user-pink td,
span.user-pink,
a.user-pink {
    color: #ff7f99 !important;
}

/* LGM */
tr.user-legendary td,
span.user-legendary,
a.user-legendary {
    background: linear-gradient(
        to right,
        #00f9f9, #00f953, #53f900, #f9f900, #f95300, #f90053, #f900f9, #5300f9, #0053f9,
        #00f9f9, #00f953, #53f900, #f9f900, #f95300, #f90053, #f900f9
    ) !important;
    background-size: 250% 100% !important;
    text-shadow: 0px 0px 4px rgba(175, 175, 175, 0.4) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    -moz-background-clip: text !important;
    -moz-text-fill-color: transparent !important;
}

/* 4000 */
tr.user-4000 td,
span.user-4000,
a.user-4000 {
    background: linear-gradient(
        to right,
        #f7e16a, #f7e16a, #f7e16a, #f3d456, #f3d456, #eec948, #eec948, #ebc235, #ebc235, #e1b62a, #dcae22, #dab023,
        #dcae22, #e1b62a, #ebc235, #ebc235, #eec948, #eec948, #f3d456, #f3d456, #f7e16a, #f7e16a,
        #f7e16a, #f7e16a, #f7e16a, #f3d456, #f3d456, #eec948, #eec948, #ebc235, #ebc235, #e1b62a, #dcae22, #dab023,
        #dcae22, #e1b62a, #ebc235, #ebc235, #eec948, #eec948, #f3d456, #f3d456, #f7e16a, #f7e16a,
        #f7e16a, #f7e16a, #f7e16a, #f3d456, #f3d456, #eec948, #eec948, #ebc235, #ebc235, #e1b62a, #dcae22, #dab023,
        #dcae22, #e1b62a, #ebc235, #ebc235, #eec948, #eec948, #f3d456, #f3d456, #f7e16a, #f7e16a,
        #f7e16a
    ) !important;
    background-size: 150% 100% !important;
    text-shadow: 0px 0px 4px rgba(255, 189, 38, 0.4) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    -moz-background-clip: text !important;
    -moz-text-fill-color: transparent !important;
}